{% apply spaceless -%}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}"{{ ui_assets_base_url() }}>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">

    <title>
        {%- block page_title %}{{ 'ekyna_admin.title'|trans }}{% endblock page_title -%}
    </title>

    <link rel="shortcut icon" href="{{ absolute_url(asset('bundles/ekynaadmin/img/favicon.ico')) }}">

    {% block stylesheets -%}
        <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
              rel="stylesheet" type="text/css"/>

        <link href="{{ absolute_url(asset('bundles/ekynacore/css/fontawesome.css')) }}" rel="stylesheet" type="text/css"/>
        <link href="{{ absolute_url(asset('bundles/ekynacore/css/glyphicons.css')) }}" rel="stylesheet" type="text/css"/>
        <link href="{{ absolute_url(asset('bundles/ekynacore/css/jquery-ui.css')) }}" rel="stylesheet" type="text/css"/>
        <link href="{{ absolute_url(asset('bundles/ekynacore/css/ui.css')) }}" rel="stylesheet" type="text/css"/>
        <link href="{{ absolute_url(asset('bundles/ekynaadmin/css/admin.css')) }}" rel="stylesheet" type="text/css"/>

        {{ admin_stylesheets() }}
        {{ ui_forms_stylesheets() }}
    {%- endblock stylesheets %}

    {%- include '@EkynaCore/Ui/ie-fix.html.twig' -%}

    {{- require_js(not app.debug) -}}
</head>
<body>
    {%- block body %}{% endblock body -%}

    {%- block javascripts -%}
        <script type="text/javascript">require(['ekyna-admin/main']);</script>
    {%- endblock javascripts -%}
</body>
</html>
{% endapply -%}
