{{ show_row(settings.general.site_name, 'text', {
    'label': 'settings.general.site_name',
    'label_trans_domain': 'EkynaAdmin',
    'label_col': 3
}) }}
{{ show_row(settings.general.admin_name, 'text', {
    'label': 'settings.general.admin_name',
    'label_trans_domain': 'EkynaAdmin',
    'label_col': 3
}) }}
{{ show_row(settings.general.admin_email, 'text', {
    'label': 'settings.general.admin_email',
    'label_trans_domain': 'EkynaAdmin',
    'label_col': 3
}) }}
<hr>
{% set site_address = settings.general.site_address %}
{{ show_row(site_address.street, 'text', {
    'label': 'field.street',
    'label_trans_domain': 'EkynaUi',
    'label_col': 3
}) }}
{{ show_row(site_address.supplement, 'text', {
    'label': 'field.supplement',
    'label_trans_domain': 'EkynaUi',
    'label_col': 3
}) }}
<div class="row">
    <div class="col-md-6">
        {{ show_row(site_address.postalCode, 'text', {
            'label': 'field.postal_code',
            'label_trans_domain': 'EkynaUi',
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(site_address.city, 'text', {
            'label': 'field.city',
            'label_trans_domain': 'EkynaUi',
            'label_col': 6
        }) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ show_row(site_address.country|country, 'text', {
            'label': 'field.country',
            'label_trans_domain': 'EkynaUi',
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(site_address.state, 'text', {
            'label': 'field.state',
            'label_trans_domain': 'EkynaUi',
            'label_col': 6
        }) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ show_row(site_address.phone, 'text', {
            'label': 'field.phone',
            'label_trans_domain': 'EkynaUi',
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(site_address.mobile, 'text', {
            'label': 'field.mobile',
            'label_trans_domain': 'EkynaUi',
            'label_col': 6
        }) }}
    </div>
</div>
{{ show_row(site_address, 'google_map', {
    'label': 'field.coordinate',
    'label_trans_domain': 'EkynaGoogle',
    'label_col': 3
}) }}
