{% extends '@EkynaAdmin/Layout/content.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>{{ 'ekyna_admin.dashboard'|trans }}</h2>
        </div>
    </div>
    <hr>
    {% set count = 0 %}
    {% set col = 0 %}
    {% for widget in dashboard.widgets %}
        {% if col % 12 == 0 or loop.first %}<div class="row">{% endif %}
        <div{% for attrname, attrvalue in widget.options.attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {% if widget.options['frame'] -%}
            <div class="panel panel-dashboard{% if widget.options.theme is not same as(null) %} panel-{{ widget.options.theme }}{% endif %}">
                {% if widget.options['title'] is not empty %}
                <div class="panel-heading">
                    <a class="panel-title" data-toggle="collapse" data-target="#dashboard-widget-{{ count }}">
                        {{ widget.options['title']|trans }}
                    </a>
                </div>
                <div id="dashboard-widget-{{ count }}" class="panel-collapse collapse in">
                {% endif %}
                {% if widget.options.theme is not same as(null) %}<div class="panel-body">{% endif %}
            {% endif %}

                    {{ render_dashboard_widget(widget) }}

            {% if widget.options['frame'] -%}
                {% if widget.options.theme is not same as(null) %}</div>{% endif %}
                {% if widget.options['title'] is not empty %}</div>{% endif %}
            </div>
            {% endif %}
        </div>
        {% set count = count + 1 %}
        {% set col = col + widget.options['col_md'] %}
        {% if col % 12 == 0 or loop.last %}</div>{% endif %}
    {% endfor %}
{% endblock content %}

{% block stylesheets %}
    {{ parent() }}
    {% for path in dashboard.stylesheets -%}
        <link href="{{ absolute_url(asset(path)) }}" rel="stylesheet" type="text/css" />
    {%- endfor %}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    {% for path in dashboard.javascripts -%}
        <script type="text/javascript" src="{{ absolute_url(asset(path)) }}"></script>
    {%- endfor %}
{% endblock javascripts %}
