{% extends 'knp_menu.html.twig' %}

{% block list %}
{% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
    {% import 'knp_menu.html.twig' as knp_menu %}
    {%- if matcher.isAncestor(item, options.matchingDepth) %}
        {%- set listAttributes = listAttributes|merge({'style': 'display:block;'}) %}
    {%- endif %}
    <ul{{ knp_menu.attributes(listAttributes) }}>
        {{ block('children') }}
    </ul>
{% endif %}
{% endblock list %}

{% block label %}
{% apply spaceless %}
    {% if item.labelAttribute('icon') %}
        <i class="fa fa-{{ item.labelAttribute('icon') }}"></i>
        <span>
            {{ item.label|trans(
                item.getExtra('translation_params', {}),
                item.getExtra('translation_domain', 'messages')
            ) }}
        </span>
        {% if item.hasChildren %}<i class="glyphicon glyphicon-chevron-down"></i>{% endif %}
    {% else %}
        {{ item.label|trans(
            item.getExtra('translation_params', {}),
            item.getExtra('translation_domain', 'messages')
        ) }}
    {% endif %}
{% endapply %}
{% endblock label %}

{% block spanElement %}
{% apply spaceless %}
    {% import 'knp_menu.html.twig' as knp_menu %}
    <a class="dropdown-toggle" {{ knp_menu.attributes(item.labelAttributes) }} href="javascript:void(0)">{{ block('label') }}</a>
{% endapply %}
{% endblock spanElement %}
