<ul class="nav nav-tabs" data-tab-key="{{ context.config.id }}">
    <li class="active">
        <a href="#group-general" id="toggle-general" data-toggle="tab">
            {{- 'field.general'|trans({}, 'EkynaUi') -}}
        </a>
    </li>
    {#<li>
        <a href="#group-permission" id="toggle-permission" data-toggle="tab">
            {{- 'field.email'|trans({}, 'EkynaUi') -}}
        </a>
    </li>#}
</ul>
<div class="panel-body form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    {{ form_errors(form) }}
    <div class="tab-content">
        <div class="tab-pane active" id="group-general">
            {{ form_row(form.name) }}
            {{ form_row(form.roles) }}
        </div>
        {#<div class="tab-pane" id="group-permission">

        </div>#}
    </div>
    {{ form_rest(form) }}
</div>
