{% import 'EkynaAdminBundle:Macros:alerts.html.twig' as alerts %}

{% block show_row %}
{% spaceless %}
    {% if compound and label is sameas(false) %}
        {{ content|raw }}
    {% else %}
    <div class="row show-row">
        {{ block('show_label') }}
        <div class="col-md-{{ nb_col }}">
            {{ content|raw }}
        </div>
    </div>
    {% endif %}
{% endspaceless %}
{% endblock show_row %}

{% block show_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
    <div class="col-md-{{ label_nb_col }} show-label">{{ label|trans }}</div>
    {% endif %}
{% endspaceless %}
{% endblock show_label %}

{% block show_widget_simple %}
{% spaceless %}
    <div class="show-widget show-widget-simple">{{ content|default('&nbsp;')|raw }}</div>
{% endspaceless %}
{% endblock show_widget_simple %}

{% block show_widget_datetime %}
{% spaceless %}
    <div class="show-widget show-widget-simple">
    {% if content is empty %}
    <em>{{ 'ekyna_core.undefined'|trans }}</em>
    {% else %}
    {{ content|localizeddate(options['date_format'], options['time_format'], options['locale'], options['timezone'], options['format'])|capitalize }}
    {% endif %}
    </div>
{% endspaceless %}
{% endblock show_widget_datetime %}

{% block show_widget_color %}
<div class="show-widget show-widget-simple">
    {% if content is empty %}
        {{ 'ekyna_core.undefined'|trans }}
    {% else %}
        <span class="show-color" style="background-color: {{ content }};"></span> {{ content }}
    {% endif %}
</div>
{% endblock show_widget_color %}

{% block show_widget_checkbox %}
{% spaceless %}
    <div class="show-widget show-widget-simple">{% if content is sameas(true) %}{{ 'ekyna_core.yes'|trans }}{% else %}{{ 'ekyna_core.no'|trans }}{% endif %}</div>
{% endspaceless %}
{% endblock show_widget_checkbox %}

{% block show_widget_entity %}
{% spaceless %}
    <div class="show-widget show-widget-simple">
    {% if entities is sameas(null) -%}
        {{ 'ekyna_core.undefined'|trans }}
    {%- elseif entities|length > 0 %}
    {% for entity in entities %}
        {% if route is not sameas(null) %}
        {% set route_params = [] %}
        {% for param, property_path in route_params_map %}
            {% set route_params = route_params|merge({(param): get_property(entity, property_path)}) %}
        {% endfor %}
        <a href="{{ path(route, route_params) }}" class="show-entity">{{ get_property(entity, field) }}</a>
        {% else %}
        <span class="show-entity">{{ get_property(entity, field) }}</span>
        {% endif %}
    {% endfor %}
    {% else %}
    <em>{{ 'ekyna_core.undefined'|trans }}</em>
    {% endif %}
    </div>
{% endspaceless %}
{% endblock show_widget_entity %}

{% block show_widget_url %}
{% spaceless %}
    <div class="show-widget show-widget-simple">
        <a href="{{ content }}" target="{{ target }}">{{ content }}</a>
    </div>
{% endspaceless %}
{% endblock show_widget_url %}

{% block show_widget_textarea %}
{% spaceless %}
    <div class="show-widget show-widget-textarea">
        {{ content|raw }}
    </div>
{% endspaceless %}
{% endblock show_widget_textarea %}

{% block show_widget_tinymce %}
{% spaceless %}
    <div class="show-widget show-widget-textarea">
        <iframe src="{{ route }}" style="height:{{ height }}px"></iframe>
    </div>
{% endspaceless %}
{% endblock show_widget_tinymce %}

{% block render_image %}
{% spaceless %}
<a class="thumbnail" href="{{ image.path|imagine_filter('admin_modal') }}" title="{{ image.alt }}">
    <img alt="{{ image.alt }}" src="{{ image.path|imagine_filter('admin_thumb') }}" />
</a>
{% endspaceless %}
{% endblock render_image%}

{% block show_widget_image %}
{% spaceless %}
    <div class="modal-gallery">
    {% if image is not sameas(null) %}
        {{ block('render_image') }}
    {% else %}
	    <span class="thumbnail">{{ ui_no_image() }}</span>
    {% endif %}
    </div>
{% endspaceless %}
{% endblock show_widget_image %}

{% block show_widget_images %}
{% spaceless %}
    <div class="modal-gallery">
    {% if images|length > 0 %}
        {% for image in images %}
        {{ block('render_image') }}
        {% endfor %}
    {% else %}
	    <span class="thumbnail">{{ ui_no_image() }}</span>
    {% endif %}
    </div>
{% endspaceless %}
{% endblock show_widget_images %}