{% block show_row %}
{% spaceless %}
    {% if label is null %}
        {{ content|raw }}
    {% else %}
        <div class="row show-row">
            {{ block('show_label') }}
            <div class="col-md-{{ nb_col }}">
                {{ content|raw }}
            </div>
        </div>
    {% endif %}
{% endspaceless %}
{% endblock show_row %}

{% block show_label %}
{% spaceless %}
    {% if label is not null %}
        <div class="col-md-{{ label_nb_col }} show-label">{{ label|trans }}</div>
    {% endif %}
{% endspaceless %}
{% endblock show_label %}

{% block show_widget_simple %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if content is empty %}
            <em>{{ 'ekyna_core.value.undefined'|trans }}</em>
        {% else %}
            {{ content|raw }}
        {% endif %}
    </div>
{% endspaceless %}
{% endblock show_widget_simple %}

{% block show_widget_number %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if content is empty %}
            <em>{{ 'ekyna_core.value.undefined'|trans }}</em>
        {% else %}
            {{ content|localizednumber }}{% if append is not empty %}&nbsp;{{ append }}{% endif %}
        {% endif %}
    </div>
{% endspaceless %}
{% endblock show_widget_number %}

{% block show_widget_tel %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {%- if content is not empty -%}
            {{ content|phone_number_format }}
        {%- else -%}
            &nbsp;
        {%- endif -%}
    </div>
{% endspaceless %}
{% endblock show_widget_tel %}

{% block show_widget_datetime %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if content is empty %}
            <em>{{ 'ekyna_core.value.undefined'|trans }}</em>
        {% else %}
            {{ content|localizeddate(options['date_format'], options['time_format'], options['locale'], options['timezone'], options['format'])|capitalize }}
        {% endif %}
    </div>
{% endspaceless %}
{% endblock show_widget_datetime %}

{% block show_widget_color %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if content is empty %}
            <em>{{ 'ekyna_core.value.undefined'|trans }}</em>
        {% else %}
            <span class="show-color" style="background-color: {{ content }};"></span> {{ content }}
        {% endif %}
    </div>
{% endspaceless %}
{% endblock show_widget_color %}

{% block show_widget_checkbox %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {%- if content is same as(true) -%}
            {{ 'ekyna_core.value.yes'|trans }}
        {%- else -%}
            {{ 'ekyna_core.value.no'|trans }}
        {%- endif -%}
    </div>
{% endspaceless %}
{% endblock show_widget_checkbox %}

{% block show_widget_entity %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if entities is same as(null) -%}
            <em>{{ 'ekyna_core.value.undefined'|trans }}</em>
        {%- elseif entities|length > 0 %}
            {% for entity in entities %}
                {% if route is not same as(null) %}
                    {% set params = route_params %}
                    {% for param, property_path in route_params_map %}
                        {% set params = params|merge({(param): attribute(entity, property_path)}) %}
                    {% endfor %}
                    <a href="{{ path(route, params) }}"
                       class="show-entity">{{ block('show_widget_entity_value') }}</a>
                {% else %}
                    <span class="show-entity">{{ block('show_widget_entity_value') }}</span>
                {% endif %}
            {% endfor %}
        {%- else %}
            <em>{{ 'ekyna_core.value.undefined'|trans }}</em>
        {% endif -%}
    </div>
{% endspaceless %}
{% endblock show_widget_entity %}

{% block show_widget_entity_value %}
{% spaceless %}
    {% if field -%}
        {{ attribute(entity, field)|raw }}
    {%- else -%}
        {{ entity|raw }}
    {%- endif %}
{% endspaceless %}
{% endblock show_widget_entity_value %}

{% block show_widget_url %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if content is empty %}
            <em>{{ 'ekyna_core.value.undefined'|trans }}</em>
        {% else %}
            <a href="{{ content }}" target="{{ target }}">{{ content }}</a>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock show_widget_url %}

{% block show_widget_textarea %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-block ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if content is empty %}
            <em>{{ 'ekyna_core.value.undefined'|trans }}</em>
        {% elseif options.html %}
            {{ content|raw }}
        {% else %}
            {{ content|nl2br|raw }}
        {% endif %}
    </div>
{% endspaceless %}
{% endblock show_widget_textarea %}

{% block show_widget_tinymce %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-block ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        <iframe src="{{ route }}" style="height:{{ height }}px"></iframe>
    </div>
{% endspaceless %}
{% endblock show_widget_tinymce %}

{% block render_image %}
{% spaceless %}
    <a class="thumbnail" href="{{ image.path|imagine_filter('admin_modal') }}" title="{{ image.alt }}">
        <img alt="{{ image.alt }}" src="{{ image.path|imagine_filter('admin_thumb') }}"/>
    </a>
{% endspaceless %}
{% endblock render_image %}

{% block show_widget_upload %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if upload is same as(null) %}
            <em>{{ 'ekyna_core.value.undefined'|trans }}</em>
        {% else %}
            <a href="{{ path('ekyna_core_download', {'key': upload.path}) }}" class="show-entity"
               target="_blank">{{ upload.guessFilename }}</a>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock show_widget_upload %}

{% block show_widget_media %}
{% spaceless %}
    {{ media|media_thumb }}
{% endspaceless %}
{% endblock show_widget_media %}

{% block show_widget_medias %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-block ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% for media in medias %}
            {{ media|media_thumb }}
        {% else %}
            {{ null|media_thumb }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock show_widget_medias %}

{% block show_widget_seo %}
{% spaceless %}
    {{ show_translations_row(seo.translations, {
        'id': prefix ~'_translations',
        'fields': {
            'title': {'label': 'ekyna_core.field.title'},
            'description': {'label': 'ekyna_core.field.description', 'type': 'textarea'},
        },
    }) }}
    <div class="row">
        <div class="col-md-6">
            {{ show_row(seo.changefreq, 'text', 'ekyna_core.field.changefreq', {
                'label_nb_col': 4,
                'attr': {'id': prefix ~ '_changeFreq'}
            }) }}
        </div>
        <div class="col-md-6">
            {{ show_row(seo.priority, 'text', 'ekyna_core.field.priority', {
                'label_nb_col': 4,
                'attr': {'id': prefix ~ '_priority'}
            }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ show_row(seo.follow, 'checkbox', 'ekyna_core.field.follow', {
                'label_nb_col': 4,
                'attr': {'id': prefix ~ '_follow'}
            }) }}
        </div>
        <div class="col-md-6">
            {{ show_row(seo.index, 'checkbox', 'ekyna_core.field.index', {
                'label_nb_col': 4,
                'attr': {'id': prefix ~ '_index'}
            }) }}
        </div>
    </div>
    {{ show_row(seo.canonical, 'url', 'ekyna_core.field.canonical_url', {
        'attr': {'id': prefix ~ '_canonicalUrl'}
    }) }}
{% endspaceless %}
{% endblock show_widget_seo %}

{% block show_widget_key_value_collection %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-block ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if content is empty -%}
            <em>{{ 'ekyna_core.value.none'|trans }}</em>
        {%- else -%}
            <dl class="dl-horizontal">
                {% for key, value in content %}
                    <dt>{{ key }}</dt>
                    <dd>{{ value }}</dd>
                {% endfor %}
            </dl>
        {%- endif %}
    </div>
{% endspaceless %}
{% endblock show_widget_key_value_collection %}

{% block show_widget_coordinate %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-block ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if map is empty -%}
            <em>{{ 'ekyna_core.value.none'|trans }}</em>
        {%- else -%}
            {{ google_map(map) }}
        {%- endif %}
    </div>
{% endspaceless %}
{% endblock show_widget_coordinate %}

{% block show_row_translations %}
{% spaceless %}
    <div class="translations-forms show-row">
        <ul class="translations-locales nav nav-tabs">
            {% for locale, translation in translations -%}
                <li{% if loop.first %} class="active"{% endif %}>
                    <a href="#{{ vars.name }}-{{ locale }}" data-toggle="tab">
                        {{- locale|language|capitalize -}}
                    </a>
                </li>
            {%- else -%}
                <li class="active">
                    <a href="#{{ vars.name }}-{{ vars.locales|first }}" data-toggle="tab">
                        {{- vars.locales|first|language|capitalize -}}
                    </a>
                </li>
            {%- endfor %}
        </ul>
        <div class="translations-fields tab-content">
            {{ block('translations_content') }}
        </div>
    </div>
{% endspaceless %}
{% endblock show_row_translations %}

{% block show_widget_translations %}
{% spaceless %}
    <ul class="nav nav-tabs">
        {% for locale, translation in translations -%}
            <li{% if loop.first %} class="active"{% endif %}>
                <a href="#{{ vars.name }}-{{ locale }}"
                   id="toggle-{{ vars.name }}-{{ locale }}"
                   data-toggle="tab">
                    {{- locale|language|capitalize -}}
                </a>
            </li>
        {%- else -%}
            <li class="active">
                <a href="#{{ vars.name }}-{{ vars.locales|first }}"
                   id="toggle-{{ vars.name }}-{{ vars.locales|first }}"
                   data-toggle="tab">
                    {{- vars.locales|first|language|capitalize -}}
                </a>
            </li>
        {%- endfor %}
    </ul>
    <div class="panel-body"
         style="border: 1px solid #ddd; border-top: none; padding:15px 15px 1px 15px; margin-bottom: 15px;">
        <div class="tab-content">
            {{ block('translations_content') }}
        </div>
    </div>
{% endspaceless %}
{% endblock show_widget_translations %}

{% block translations_content %}
{% spaceless %}
    {% for locale, translation in translations -%}
        <div class="tab-pane{% if loop.first %} active{% endif %}"
             id="{{ vars.name }}-{{ locale }}">
            {% for field in vars.fields -%}
                {% set content = field.content is defined ? field.content : attribute(translation, field.property_path) %}
                {{ show_row(content, field.type, field.label, field.options|merge({
                    'attr': {'id': vars.name ~ '_' ~ locale ~ '_' ~ field.property_path}
                })) }}
            {%- endfor %}
        </div>
    {%- else -%}
        <div class="tab-pane active"
             id="{{ vars.name }}-translation-{{ vars.locales|first }}">
            {% for field in vars.fields -%}
                {{ show_row(null, field.type, field.label, field.options|merge({
                    'attr': {'id': vars.name ~ '_' ~ (vars.locales|first) ~ '_' ~ field.property_path}
                })) }}
            {%- endfor %}
        </div>
    {%- endfor %}
{% endspaceless %}
{% endblock translations_content %}


{% block widget_attributes -%}{% for key, value in attr %} {{ key }}="{{ value }}"{% endfor -%}{% endblock widget_attributes %}
