{% block widget_attributes -%}{% for key, value in attr %} {{ key }}="{{ value }}"{% endfor -%}{% endblock widget_attributes %}


{% block label %}
{% apply spaceless %}
    {% if label is not null %}
        <div class="col-md-{{ label_col }} show-label" title="{{ label|trans({}, label_trans_domain) }}">
            {{- label|trans({}, label_trans_domain) -}}
        </div>
    {% endif %}
{% endapply %}
{% endblock label %}


{% block undefined %}
{% apply spaceless %}
    <em>{{ 'value.undefined'|trans({}, 'EkynaUi') }}</em>
{% endapply %}
{% endblock undefined %}


{% block default_row %}
{% apply spaceless %}
    <div class="row show-row">
        {{ block('label') }}
        <div class="col-md-{{ widget_col }}">
            {{ show_widget(view) }}
        </div>
    </div>
{% endapply %}
{% endblock default_row %}


{% block default_widget %}
{% apply spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if value is empty %}
            {{ block('undefined') }}
        {% else %}
            {{ value|raw }}
        {% endif %}
    </div>
{% endapply %}
{% endblock default_widget %}


{% block text_widget %}
{% apply spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {{ block('text_widget_value') }}
    </div>
{% endapply %}
{% endblock text_widget %}


{% block text_widget_value %}
{% apply spaceless %}
    {% if value is empty -%}
        {{ block('undefined') }}
    {%- elseif trans_domain is null -%}
        {{ value|trans|raw }}
    {%- elseif trans_domain is not same as(false) -%}
        {{ value|trans(trans_params, trans_domain)|raw }}
    {%- else -%}
        {{ value|raw }}
    {%- endif %}
{% endapply %}
{% endblock text_widget_value %}


{% block number_widget %}
{% apply spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if value is null -%}
            {{ block('undefined') }}
        {%- else -%}
            {{ value|format_number }}{% if append is not empty %}&nbsp;{{ append }}{% endif %}
        {%- endif %}
    </div>
{% endapply %}
{% endblock number_widget %}


{% block datetime_widget %}
{% apply spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if value is null -%}
            {{ block('undefined') }}
        {%- else -%}
            {{ value|format_datetime(date_format, time_format)|capitalize }}
        {%- endif %}
    </div>
{% endapply %}
{% endblock datetime_widget %}


{% block color_widget %}
{% apply spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if value is empty -%}
            {{ block('undefined') }}
        {%- else -%}
            <span class="show-color" style="background-color: {{ value }};"></span> {{ value }}
        {%- endif %}
    </div>
{% endapply %}
{% endblock color_widget %}


{% block boolean_widget %}
{% apply spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {%- set class = value is null ? null_class : (value ? true_class : false_class) -%}
        {%- if toggle_path %}<a href="{{ toggle_path }}" class="{{ class }}">{% elseif color %}<span class="{{ class }}">{% endif -%}
        {%- if value is null -%}
            {{ null_label|trans([], trans_domain) }}
        {%- elseif value -%}
            {{ true_label|trans([], trans_domain) }}
        {%- else -%}
            {{ false_label|trans([], trans_domain) }}
        {%- endif -%}
        {%- if toggle_path %}</a>{% elseif color %}</span>{% endif -%}
    </div>
{% endapply %}
{% endblock boolean_widget %}


{% block choice_widget %}
{% apply spaceless %}
{% if multiple %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-block ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        <ul class="list-unstyled">
        {% for val in values -%}
            <li>{% with {value: val, trans_domain: choice_trans_domain, trans_params: choice_trans_params} -%}
                {{ block('text_widget_value') }}
            {%- endwith %}</li>
        {%- endfor %}
        </ul>
    </div>
{% else %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% with {value: values|first, trans_domain: choice_trans_domain, trans_params: choice_trans_params} -%}
            {{ block('text_widget_value') }}
        {%- endwith %}
    </div>
{% endif %}
{% endapply %}
{% endblock choice_widget %}


{% block entity_widget %}
{% apply spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if value is empty -%}
            {{ block('undefined') }}
        {%- else -%}
            {% for entity in value %}
                {% if route is not same as(null) %}
                    {% set params = route_parameters %}
                    {% for param, property_path in route_parameters_map %}
                        {% set params = params|merge({(param): attribute(entity, property_path)}) %}
                    {% endfor %}
                    <a href="{{ path(route, params) }}"
                       class="show-entity">{{ block('entity_widget_value') }}</a>
                {% else %}
                    <span class="show-entity">{{ block('entity_widget_value') }}</span>
                {% endif %}
            {% endfor %}
        {% endif -%}
    </div>
{% endapply %}
{% endblock entity_widget %}


{% block resource_widget %}
{% apply spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if value is empty -%}
            {{ block('undefined') }}
        {%- else -%}
            {% for label, path in value -%}
                {% if path is not null -%}
                    <a href="{{ path }}" class="show-entity">{{ label }}</a>
                {%- else -%}
                    <span class="show-entity">{{ label }}</span>
                {%- endif %}
            {%- endfor %}
        {% endif -%}
    </div>
{% endapply %}
{% endblock resource_widget %}


{% block entity_widget_value %}
{% apply spaceless %}
    {% if property -%}
        {{ attribute(entity, property)|raw }}
    {%- else -%}
        {{ entity|raw }}
    {%- endif %}
{% endapply %}
{% endblock entity_widget_value %}


{% block link_widget %}
{% apply spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if value is empty %}
            {{ block('undefined') }}
        {% else %}
            <a href="{{ path }}"{% if target is not empty %} target="{{ target }}"{% endif %}>{{ value }}</a>
        {% endif %}
    </div>
{% endapply %}
{% endblock link_widget %}


{% block url_widget %}
{% apply spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if value is empty %}
            {{ block('undefined') }}
        {% else %}
            <a href="{{ value }}"{% if target is not empty %} target="{{ target }}"{% endif %}>{{ value }}</a>
        {% endif %}
    </div>
{% endapply %}
{% endblock url_widget %}


{% block table_widget %}
{% apply spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-block ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {{ ekyna_table_render(table) }}
    </div>
{% endapply %}
{% endblock table_widget %}


{% block textarea_widget %}
{% apply spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-block ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if value is empty %}
            {{ block('undefined') }}
        {% elseif html %}
            {{ value|raw }}
        {% else %}
            {{ value|nl2br|raw }}
        {% endif %}
    </div>
{% endapply %}
{% endblock textarea_widget %}


{% block tinymce_widget %}
{% apply spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-block ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if route is not empty %}
            {% set value = path(route, route_params|merge({'_locale': locale})) %}
        {% elseif value is not empty and field is not empty %}
            {% set value = admin_resource_path(value, action, {'field': field}) %}
        {% endif %}
        <iframe src="{{ value }}" style="height:{{ height }}px"></iframe>
    </div>
{% endapply %}
{% endblock tinymce_widget %}


{% block upload_widget %}
{% apply spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if value is same as(null) -%}
            {{ block('undefined') }}
        {%- else -%}
            <a href="{{ path('ekyna_resource_local_upload_download', {'key': value.path}) }}" class="show-entity" target="_blank">
                {{ value.guessFilename }}
            </a>
        {%- endif %}
    </div>
{% endapply %}
{% endblock upload_widget %}


{% block collection_widget %}
{% apply spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-block ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if value is empty -%}
            <em>{{ 'value.none'|trans({}, 'EkynaUi') }}</em>
        {%- else -%}
            {% for val in value %}{{ val|raw }}<br>{% endfor %}
        {%- endif %}
    </div>
{% endapply %}
{% endblock collection_widget %}


{% block map_widget %}
{% apply spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-block ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if value is empty -%}
            <em>{{ 'value.none'|trans({}, 'EkynaUi') }}</em>
        {%- else -%}
            <dl class="dl-horizontal">
                {% for key, val in value %}
                    <dt>{{ key }}</dt>
                    <dd>{{ val }}</dd>
                {% endfor %}
            </dl>
        {%- endif %}
    </div>
{% endapply %}
{% endblock map_widget %}


{% block translations_row %}
{% apply spaceless %}
    <div class="translations-forms show-row">
        <ul class="translations-locales nav nav-tabs">
            {%- for locale, translation in value -%}
            <li{% if loop.first %} class="active"{% endif %}>
                <a href="#{{ name }}-{{ locale }}" data-toggle="tab">
                    {{- locale|language|capitalize -}}
                    {%- if translation is null -%}
                        &nbsp;<i class="fa fa-warning text-danger"></i>
                    {%- endif -%}
                </a>
            </li>
            {%- endfor -%}
        </ul>
        <div class="translations-fields tab-content">
            {{ block('translations_content') }}
        </div>
    </div>
{% endapply %}
{% endblock translations_row %}

{% block translations_widget %}
{% apply spaceless %}
    <ul class="nav nav-tabs">
        {% for locale, translation in value -%}
        <li{% if loop.first %} class="active"{% endif %}>
            <a href="#{{ name }}-{{ locale }}"
               id="toggle-{{ name }}-{{ locale }}"
               data-toggle="tab">
                {{- locale|language|capitalize -}}
                {%- if translation is null -%}
                    &nbsp;<i class="fa fa-warning text-danger"></i>
                {%- endif -%}
            </a>
        </li>
        {%- endfor %}
    </ul>
    <div class="panel-body"
         style="border: 1px solid #ddd; border-top: none; padding:15px 15px 1px 15px; margin-bottom: 15px;">
        <div class="tab-content">
            {{ block('translations_content') }}
        </div>
    </div>
{% endapply %}
{% endblock translations_widget %}

{% block translations_content %}
{% apply spaceless %}
    {% for locale, translation in value -%}
    <div class="tab-pane{% if loop.first %} active{% endif %}"
         id="{{ name }}-{{ locale }}">
        {% for field in fields -%}
            {% if field.value is not null -%}
                {% set content = field.value -%}
            {% elseif translation is not null -%}
                {% if field.property_path is not null %}
                    {% set content = attribute(translation, field.property_path) -%}
                {% else %}
                    {% set content = translation -%}
                {% endif %}
            {% else -%}
                {% set content = null -%}
            {% endif -%}
            {{ show_row(content, field.type, field.options|merge({
                'label': field.label,
                'id': name ~ '_' ~ locale ~ '_' ~ field.property_path
            })) }}
        {%- endfor %}
    </div>
    {%- endfor %}
{% endapply %}
{% endblock translations_content %}
