{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ (resource_id ~ '.header.new')|trans|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn(resource_id, 'list') }}
{% endblock %}

{% block main %}
<form action="{{ path(route_prefix ~ '_new') }}" {{ form_enctype(form) }} method="post" class="form-horizontal form-with-tabs">
    {% include form_template %}
    {{ ui_form_footer(form) }}
</form>
{% endblock %}