{% apply spaceless %}
{% set button_prefix = button_prefix|default('form_flow_') %}
{% set renderBackButton = flow.getFirstStepNumber() < flow.getLastStepNumber() and flow.getCurrentStepNumber() in (flow.getFirstStepNumber() + 1) .. flow.getLastStepNumber() %}
<div class="form-footer">
    <div class="form-group">
        {% set offset = offset | default(2) %}
        <div class="col-md-offset-{{ offset }} col-md-{{ 12 - offset }}">

    {%- set isLastStep = flow.getCurrentStepNumber() == flow.getLastStepNumber() -%}
    {%- set craue_formflow_button_class_last = craue_formflow_button_class_last | default('craue_formflow_button_last') -%}
    {%- set craue_formflow_button_class_last = isLastStep
        ? craue_formflow_button_class_finish | default(craue_formflow_button_class_last)
        : craue_formflow_button_class_next | default(craue_formflow_button_class_last)
    -%}
    {%- set craue_buttons = [
        {
            label: isLastStep ? 'button.finish' : 'button.next',
            icon: 'ok',
            render: true,
            attr: {
                class: 'btn btn-primary',
                id: button_prefix ~ 'submit',
            },
        },
        {
            label: 'button.back',
            icon: 'arrow-left',
            render: renderBackButton,
            attr: {
                class: 'btn btn-default',
                id: button_prefix ~ 'back',
                name: flow.getFormTransitionKey(),
                value: 'back',
                formnovalidate: 'formnovalidate',
            },
        },
        {
            label: 'button.reset',
            icon: 'repeat',
            render: true,
            attr: {
                class: 'btn btn-default',
                id: button_prefix ~ 'reset',
                name: flow.getFormTransitionKey(),
                value: 'reset',
                formnovalidate: 'formnovalidate',
            },
        },
    ] -%}

    {% for button in craue_buttons -%}
        {% if button.render %}
        <button type="submit"{% for key, value in button.attr %} {{ key }}="{{ value }}"{% endfor %}>
            <span class="glyphicon glyphicon-{{ button.icon }}"></span> {{ button.label|trans({}, 'EkynaUi') }}
        </button>&nbsp;
        {% endif %}
    {%- endfor %}

        </div>
    </div>
</div>
{% endapply %}
