{{ show_row(settings.general.site_name, 'text', 'ekyna_admin.setting.sitename') }}
{{ show_row(settings.general.admin_name, 'text', 'ekyna_admin.setting.adminname') }}
{{ show_row(settings.general.admin_email, 'text', 'ekyna_admin.setting.adminemail') }}
<hr>
{{ show_row(settings.general.site_address.street, 'text', 'ekyna_core.field.street') }}
{{ show_row(settings.general.site_address.supplement, 'text', 'ekyna_core.field.supplement') }}
<div class="row">
    <div class="col-md-6">
        {{ show_row(settings.general.site_address.postalCode, 'text', 'ekyna_core.field.postal_code', {'label_nb_col': 4}) }}
    </div>
    <div class="col-md-6">
        {{ show_row(settings.general.site_address.city, 'text', 'ekyna_core.field.city', {'label_nb_col': 4}) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ show_row(settings.general.site_address.phone, 'text', 'ekyna_core.field.phone', {'label_nb_col': 4}) }}
    </div>
    <div class="col-md-6">
        {{ show_row(settings.general.site_address.mobile, 'text', 'ekyna_core.field.mobile', {'label_nb_col': 4}) }}
    </div>
</div>