{% extends '@EkynaAdmin/Entity/Crud/read.html.twig' %}


{% block main_actions %}
    {#{% if admin_resource_access(user, constant('Ekyna\\Component\\Resource\\Action\\Permission::UPDATE')) -%}
        {{ ui_button('user.button.generate_password', {
            'path': path('ekyna_admin_user_admin_generate_password', {'userId': user.id}),
            'type': 'link',
            'size': 'sm',
            'theme': 'warning',
            'trans_domain': 'EkynaAdmin'
        }) }}
    {%- endif %}#}
    {{- admin_resource_btn(user, 'Ekyna\\Bundle\\AdminBundle\\Action\\User\\GeneratePasswordAction', {'size': 'sm'}) -}}
    {{  parent() }}
{% endblock main_actions %}


{% block main_tabs %}
    <li class="active">
        <a href="#menu-general" id="toggle-general" data-toggle="tab">
            {{- 'field.general'|trans({}, 'EkynaUi') -}}
        </a>
    </li>
    <li>
        <a href="#menu-email" id="toggle-email" data-toggle="tab">
            {{- 'field.email'|trans({}, 'EkynaUi') -}}
        </a>
    </li>
    <li>
        <a href="#user-acl" id="toggle-acl" data-toggle="tab">
            {{ 'acl'|trans({}, 'EkynaAdmin') }}
        </a>
    </li>
{% endblock main_tabs %}


{% block main_contents %}
    <div class="tab-pane active" id="menu-general">
        {{ show_row(user.email, 'text', {
            'label': 'field.email',
            'label_trans_domain': 'EkynaUi'
        }) }}
        <div class="row">
            <div class="col-md-6">
                {{ show_row(user.group, 'resource', {'label_col': 4}) }}
            </div>
            <div class="col-md-6">
                {{ show_row(user.enabled, 'boolean', {
                    'label': 'field.enabled',
                    'label_trans_domain': 'EkynaUi',
                    'color': true,
                    'label_col': 4
                }) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ show_row(user.firstName, 'text', {
                    'label': 'field.first_name',
                    'label_trans_domain': 'EkynaUi',
                    'label_col': 4
                }) }}
            </div>
            <div class="col-md-6">
                {{ show_row(user.lastName, 'text', {
                    'label': 'field.last_name',
                    'label_trans_domain': 'EkynaUi',
                    'label_col': 4
                }) }}
            </div>
        </div>
        {{ show_row(user.position, 'text', {
            'label': 'user.field.position',
            'label_trans_domain': 'EkynaAdmin'
        }) }}
        <div class="row">
            <div class="col-md-6">
                {{ show_row(user.phone, 'text', {
                    'label': 'field.phone',
                    'label_trans_domain': 'EkynaUi',
                    'label_col': 4
                }) }}
            </div>
            <div class="col-md-6">
                {{ show_row(user.mobile, 'text', {
                    'label': 'field.mobile',
                    'label_trans_domain': 'EkynaUi',
                    'label_col': 4
                }) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% if user.apiToken is empty %}
                    {% set token = '<em>' ~ ('value.undefined'|trans({}, 'EkynaUi')) ~ '</em>' %}
                {% else %}
                    {% set token = user.apiToken|ui_clipboard_copy({'label': user.apiToken|slice(0, 32) ~ '&hellip;'}) %}
                {% endif %}
                {% set button = admin_resource_btn(user, 'Ekyna\\Bundle\\AdminBundle\\Action\\User\\GenerateApiTokenAction', {
                    'size': 'xs',
                }) %}
                {{ show_row(token ~ '&nbsp;' ~ button, 'text', {
                    'label': 'user.field.api_token',
                    'label_trans_domain': 'EkynaAdmin'
                }) }}
            </div>
        </div>
    </div>
    <div class="tab-pane" id="menu-email">
        {% set config = {
            'smtp': {'host': null, 'port': null, 'encryption': null, 'auth_mode': null, 'username': null, 'password': null},
            'imap': {'mailbox': null, 'folder': null, 'user': null}
        }|merge(user.emailConfig|default({})) %}
        <div class="row show-row">
            <div class="col-md-2 show-label">{{ 'user.field.email_config'|trans({}, 'EkynaAdmin') }}</div>
            <div class="col-md-10">
                <div class="show-widget show-widget-block">
                    <div class="row">
                        <div class="col-md-6">
                            <p style="border-bottom:1px solid #ddd;padding-bottom:10px;font-weight:bold">SMTP</p>
                            <dl class="dl-horizontal">
                                <dt>Host</dt><dd>{{ config.smtp.host }}</dd>
                                <dt>Port</dt><dd>{{ config.smtp.port }}</dd>
                                <dt>Encryption</dt><dd>{{ config.smtp.encryption }}</dd>
                                <dt>Auth mode</dt><dd>{{ config.smtp.auth_mode }}</dd>
                                <dt>Username</dt><dd>{{ config.smtp.username }}</dd>
                                <dt>Password</dt><dd>***({{ config.smtp.password|default('')|length }})</dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <p style="border-bottom:1px solid #ddd;padding-bottom:10px;font-weight:bold">IMAP</p>
                            <dl class="dl-horizontal">
                                <dt>Mailbox</dt><dd>{{ config.imap.mailbox }}</dd>
                                <dt>Folder</dt><dd>{{ config.imap.folder }}</dd>
                                <dt>User</dt><dd>{{ config.imap.user }}</dd>
                                <dt>Password</dt><dd>***({{ config.imap.password|default('')|length }})</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="user-acl">
        {{ resource_acl_list(user) }}
    </div>
{% endblock main_contents %}
