{% extends '@EkynaAdmin/Entity/sided.html.twig' %}

{% set resource = context.resource %}
{% set resource_name = context.config.dashedName %}

{% block page_title %}{{ resource|raw }}{% endblock page_title %}

{% block title %}
<h1>{{ (context.config.transPrefix ~ '.header.remove')|trans({'%name%': resource}, context.config.transDomain)|raw }}</h1>
{% endblock title %}

{% block actions %}
{% if context.parent -%}
    {{- admin_resource_btn(context.parent.resource, 'Ekyna\\Bundle\\AdminBundle\\Action\\ReadAction', {
        'label': t('button.back', [], 'EkynaUi'),
        'icon': 'arrow-left',
        'theme': 'default',
    }) -}}
{%- endif %}
{{ admin_resource_btn(context.config.id, 'Ekyna\\Bundle\\AdminBundle\\Action\\ListAction') }}
{{ admin_resource_btn(context.config.id, 'Ekyna\\Bundle\\AdminBundle\\Action\\CreateAction') }}
{% endblock actions %}

{% block main %}
{{ form_start(form) }}
    {% include form_template %}
{{ form_end(form) }}
{% endblock main %}
